CREATE DATABASE [BDVENTALIBROS06]
GO

USE [BDVENTALIBROS06]
GO
SET DATEFORMAT DMY
/****** Object:  Table [dbo].[autores]    Script Date: 21/10/2025 23:54:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autores](
	[id_autor] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[biografia] [varchar](200) NULL,
	[fecha_nacimiento] [date] NULL,
	[id_nacionalidad] [int] NOT NULL,
	[id_sexo] [int] NOT NULL,
 CONSTRAINT [pk_autor] PRIMARY KEY CLUSTERED 
(
	[id_autor] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[autores_libros]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[autores_libros](
	[id_autor_libro] [int] IDENTITY NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_autor] [int] NOT NULL,
 CONSTRAINT [pk_autor_libro] PRIMARY KEY CLUSTERED 
(
	[id_autor_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[barrios]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[barrios](
	[id_barrio] [int] IDENTITY(1,1) NOT NULL,
	[barrio] [varchar](50) NOT NULL,
	[id_ciudad] [int] NOT NULL,
 CONSTRAINT [pk_barrio] PRIMARY KEY CLUSTERED 
(
	[id_barrio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[categorias]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[categorias](
	[id_categoria] [int] IDENTITY(1,1) NOT NULL,
	[categoria] [varchar](50) NOT NULL,
 CONSTRAINT [pk_categoria] PRIMARY KEY CLUSTERED 
(
	[id_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ciudades]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ciudades](
	[id_ciudad] [int] IDENTITY(1,1) NOT NULL,
	[ciudad] [varchar](50) NOT NULL,
	[id_provincia] [int] NOT NULL,
 CONSTRAINT [pk_ciudad] PRIMARY KEY CLUSTERED 
(
	[id_ciudad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[cod_cliente] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](50) NOT NULL,
	[apellido] [varchar](50) NOT NULL,
	[nro_doc] [int] NOT NULL,
	[id_tipo_doc] [int] NOT NULL,
	[id_sexo] [int] NOT NULL,
	[id_nacionalidad] [int] NOT NULL,
	[fecha_registro] [datetime] NOT NULL,
	[fecha_nacimiento] [date] NULL,
	[id_barrio] [int] NOT NULL,
	[calle] [varchar](50) NOT NULL,
	[nro] [int] NOT NULL,
	[piso] [varchar](10) NULL,
	[dpto] [varchar](10) NULL,
	[cp] [varchar](10) NULL,
	[email] [nvarchar](50) NOT NULL,
	[IdUsuario] [int] NULL,
 CONSTRAINT [pk_cliente] PRIMARY KEY CLUSTERED 
(
	[cod_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contactos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contactos](
	[id_contacto] [int] IDENTITY(1,1) NOT NULL,
	[contacto] [varchar](50) NOT NULL,
	[id_tipo_contacto] [int] NOT NULL,
	[cod_cliente] [int] NOT NULL,
 CONSTRAINT [pk_contacto] PRIMARY KEY CLUSTERED 
(
	[id_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_facturas]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_facturas](
	[id_detalle_factura] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[recargo] [decimal](10, 2) NULL,
	[nro_factura] [int] NOT NULL,
	[cod_libro] [int] NOT NULL,
 CONSTRAINT [pk_detalle_fac] PRIMARY KEY CLUSTERED 
(
	[id_detalle_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[detalle_pedidos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[detalle_pedidos](
	[id_detalle_pedido] [int] IDENTITY(1,1) NOT NULL,
	[cantidad] [int] NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[cod_libro] [int] NOT NULL,
	[nro_pedido] [int] NOT NULL,
 CONSTRAINT [pk_detalle_pedidos] PRIMARY KEY CLUSTERED 
(
	[id_detalle_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[editoriales]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[editoriales](
	[id_editorial] [int] IDENTITY(1,1) NOT NULL,
	[editorial] [varchar](50) NOT NULL,
 CONSTRAINT [pk_editorial] PRIMARY KEY CLUSTERED 
(
	[id_editorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[estados_envios]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[estados_envios](
	[id_estado_envio] [int] IDENTITY(1,1) NOT NULL,
	[estado_actual] [varchar](20) NOT NULL,
 CONSTRAINT [pk_estado_envio] PRIMARY KEY CLUSTERED 
(
	[id_estado_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas](
	[nro_factura] [int] IDENTITY (1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[fecha_entrega] [datetime] NOT NULL,
	[fecha_pago] [datetime] NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[id_forma_envio] [int] NOT NULL,
	[costo_envio] [decimal](10, 2) NOT NULL,
 CONSTRAINT [pk_factura] PRIMARY KEY CLUSTERED 
(
	[nro_factura] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[facturas_formaspago]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[facturas_formaspago](
	[id_factura_pago] [int] IDENTITY(1,1) NOT NULL,
	[monto_parcial] [decimal](10, 2) NOT NULL,
	[id_forma_pago] [int] NOT NULL,
	[nro_factura] [int] NOT NULL,
 CONSTRAINT [pk_facturas_formaspago] PRIMARY KEY CLUSTERED 
(
	[id_factura_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[financieras]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[financieras](
	[id_financiera] [int] IDENTITY(1,1) NOT NULL,
	[nombre] [varchar](20) NOT NULL,
 CONSTRAINT [pk_financiera] PRIMARY KEY CLUSTERED 
(
	[id_financiera] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formapagos_clientes]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formapagos_clientes](
	[id_formapago_cliente] [int] IDENTITY(1,1) NOT NULL,
	[num_tarjeta] [int] NOT NULL,
	[fecha_vencimiento] [date] NOT NULL,
	[cvv] [int] NOT NULL,
	[cod_cliente] [int] NOT NULL,
	[id_forma_pago] [int] NOT NULL,
	[id_financiera] [int] NOT NULL,
 CONSTRAINT [pk_formapagos_clientes] PRIMARY KEY CLUSTERED 
(
	[id_formapago_cliente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formas_envios]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formas_envios](
	[id_forma_envio] [int] IDENTITY(1,1) NOT NULL,
	[forma_envio] [varchar](20) NOT NULL,
 CONSTRAINT [pk_forma_envio] PRIMARY KEY CLUSTERED 
(
	[id_forma_envio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[formas_pagos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[formas_pagos](
	[id_forma_pago] [int] IDENTITY(1,1) NOT NULL,
	[forma_pago] [varchar](50) NOT NULL,
 CONSTRAINT [pk_forma_pago] PRIMARY KEY CLUSTERED 
(
	[id_forma_pago] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[generos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[generos](
	[id_genero] [int] IDENTITY(1,1) NOT NULL,
	[genero] [varchar](50) NOT NULL,
 CONSTRAINT [pk_genero] PRIMARY KEY CLUSTERED 
(
	[id_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[idiomas]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[idiomas](
	[id_idioma] [int] IDENTITY(1,1) NOT NULL,
	[idioma] [varchar](50) NOT NULL,
 CONSTRAINT [pk_idioma] PRIMARY KEY CLUSTERED 
(
	[id_idioma] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libros]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libros](
	[cod_libro] [int] IDENTITY(1,1) NOT NULL,
	[isbn] [varchar](50) NOT NULL,
	[titulo] [varchar](50) NOT NULL,
	[precio] [decimal](10, 2) NOT NULL,
	[descripcion] [varchar](200) NOT NULL,
	[stock] [int] NOT NULL,
	[id_editorial] [int] NOT NULL,
	[fecha_lanzamiento] [date] NOT NULL,
	[id_idioma] [int] NOT NULL,
 CONSTRAINT [pk_libro] PRIMARY KEY CLUSTERED 
(
	[cod_libro] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libros_categorias]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libros_categorias](
	[id_libro_categoria] [int] identity NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_categoria] [int] NOT NULL,
 CONSTRAINT [pk_libro_categoria] PRIMARY KEY CLUSTERED 
(
	[id_libro_categoria] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[libros_generos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[libros_generos](
	[id_libro_genero] [int] IDENTITY NOT NULL,
	[id_libro] [int] NOT NULL,
	[id_genero] [int] NOT NULL,
 CONSTRAINT [Pk_libro_genero] PRIMARY KEY CLUSTERED 
(
	[id_libro_genero] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[nacionalidades]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nacionalidades](
	[id_nacionalidad] [int] IDENTITY(1,1) NOT NULL,
	[nacionalidad] [varchar](20) NOT NULL,
 CONSTRAINT [pk_nacionalidad] PRIMARY KEY CLUSTERED 
(
	[id_nacionalidad] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pedidos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pedidos](
	[nro_pedido] [int] IDENTITY(1,1) NOT NULL,
	[fecha] [datetime] NOT NULL,
	[fecha_entrega] [date] NOT NULL,
	[instrucciones_adicionales] [varchar](100) NULL,
	[cod_cliente] [int] NOT NULL,
	[id_forma_envio] [int] NOT NULL,
 CONSTRAINT [pk_nro_pedido] PRIMARY KEY CLUSTERED 
(
	[nro_pedido] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[provincias]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[provincias](
	[id_provincia] [int] IDENTITY(1,1) NOT NULL,
	[provincia] [varchar](20) NOT NULL,
 CONSTRAINT [pk_provincia] PRIMARY KEY CLUSTERED 
(
	[id_provincia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[sexos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[sexos](
	[id_sexo] [int] IDENTITY(1,1) NOT NULL,
	[sexo] [varchar](10) NOT NULL,
 CONSTRAINT [pk_sexo] PRIMARY KEY CLUSTERED 
(
	[id_sexo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_contactos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_contactos](
	[id_tipo_contacto] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](20) NOT NULL,
 CONSTRAINT [pk_tipo_contacto] PRIMARY KEY CLUSTERED 
(
	[id_tipo_contacto] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tipos_documentos]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tipos_documentos](
	[id_tipo_doc] [int] IDENTITY(1,1) NOT NULL,
	[tipo] [varchar](50) NOT NULL,
 CONSTRAINT [pk_tipo_doc] PRIMARY KEY CLUSTERED 
(
	[id_tipo_doc] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tracking_envios]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tracking_envios](
	[id_tracking] [int] IDENTITY(1,1) NOT NULL,
	[nro_pedido] [int] NOT NULL,
	[id_estado_envio] [int] NOT NULL,
	[fecha_estado] [datetime] NOT NULL,
	[observaciones] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[id_tracking] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/10/2025 23:54:31 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[NombreUsuario] [varchar](50) NOT NULL,
	[ContrasenaHash] [varchar](255) NOT NULL,
	[Rol] [varchar](20) NOT NULL,
	[FechaAlta] [datetime] DEFAULT SYSDATETIME() NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[NombreUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ('Cliente') FOR [Rol]
GO
ALTER TABLE [dbo].[autores]  WITH CHECK ADD  CONSTRAINT [fk_autor_nacionalidad] FOREIGN KEY([id_nacionalidad])
REFERENCES [dbo].[nacionalidades] ([id_nacionalidad])
GO
ALTER TABLE [dbo].[autores] CHECK CONSTRAINT [fk_autor_nacionalidad]
GO
ALTER TABLE [dbo].[autores]  WITH CHECK ADD  CONSTRAINT [fk_autor_sexo] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[sexos] ([id_sexo])
GO
ALTER TABLE [dbo].[autores] CHECK CONSTRAINT [fk_autor_sexo]
GO
ALTER TABLE [dbo].[autores_libros]  WITH CHECK ADD  CONSTRAINT [fk_autor] FOREIGN KEY([id_autor])
REFERENCES [dbo].[autores] ([id_autor])
GO
ALTER TABLE [dbo].[autores_libros] CHECK CONSTRAINT [fk_autor]
GO
ALTER TABLE [dbo].[autores_libros]  WITH CHECK ADD  CONSTRAINT [fk_librosAutores] FOREIGN KEY([id_libro])
REFERENCES [dbo].[libros] ([cod_libro])
GO
ALTER TABLE [dbo].[autores_libros] CHECK CONSTRAINT [fk_librosAutores]
GO
ALTER TABLE [dbo].[barrios]  WITH CHECK ADD  CONSTRAINT [fk_ciudad_barrio] FOREIGN KEY([id_ciudad])
REFERENCES [dbo].[ciudades] ([id_ciudad])
GO
ALTER TABLE [dbo].[barrios] CHECK CONSTRAINT [fk_ciudad_barrio]
GO
ALTER TABLE [dbo].[ciudades]  WITH CHECK ADD  CONSTRAINT [fk_ciudad_provincia] FOREIGN KEY([id_provincia])
REFERENCES [dbo].[provincias] ([id_provincia])
GO
ALTER TABLE [dbo].[ciudades] CHECK CONSTRAINT [fk_ciudad_provincia]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_barrio] FOREIGN KEY([id_barrio])
REFERENCES [dbo].[barrios] ([id_barrio])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_cliente_barrio]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_nacionalidad] FOREIGN KEY([id_nacionalidad])
REFERENCES [dbo].[nacionalidades] ([id_nacionalidad])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_cliente_nacionalidad]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_sexo] FOREIGN KEY([id_sexo])
REFERENCES [dbo].[sexos] ([id_sexo])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_cliente_sexo]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_cliente_tiposdoc] FOREIGN KEY([id_tipo_doc])
REFERENCES [dbo].[tipos_documentos] ([id_tipo_doc])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_cliente_tiposdoc]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_clientes_usuarios] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_clientes_usuarios]
GO
ALTER TABLE [dbo].[contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[contactos] CHECK CONSTRAINT [fk_contactos_clientes]
GO
ALTER TABLE [dbo].[contactos]  WITH CHECK ADD  CONSTRAINT [fk_contactos_tipos] FOREIGN KEY([id_tipo_contacto])
REFERENCES [dbo].[tipos_contactos] ([id_tipo_contacto])
GO
ALTER TABLE [dbo].[contactos] CHECK CONSTRAINT [fk_contactos_tipos]
GO
ALTER TABLE [dbo].[detalle_facturas]  WITH CHECK ADD  CONSTRAINT [fk_detalle_factura] FOREIGN KEY([nro_factura])
REFERENCES [dbo].[facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[detalle_facturas] CHECK CONSTRAINT [fk_detalle_factura]
GO
ALTER TABLE [dbo].[detalle_facturas]  WITH CHECK ADD  CONSTRAINT [fk_detalle_libro] FOREIGN KEY([cod_libro])
REFERENCES [dbo].[libros] ([cod_libro])
GO
ALTER TABLE [dbo].[detalle_facturas] CHECK CONSTRAINT [fk_detalle_libro]
GO
ALTER TABLE [dbo].[detalle_pedidos]  WITH CHECK ADD  CONSTRAINT [fk_detallepedidos_libros] FOREIGN KEY([cod_libro])
REFERENCES [dbo].[libros] ([cod_libro])
GO
ALTER TABLE [dbo].[detalle_pedidos] CHECK CONSTRAINT [fk_detallepedidos_libros]
GO
ALTER TABLE [dbo].[detalle_pedidos]  WITH CHECK ADD  CONSTRAINT [fk_detallepedidos_pedido] FOREIGN KEY([nro_pedido])
REFERENCES [dbo].[pedidos] ([nro_pedido])
GO
ALTER TABLE [dbo].[detalle_pedidos] CHECK CONSTRAINT [fk_detallepedidos_pedido]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_clientes]
GO
ALTER TABLE [dbo].[facturas]  WITH CHECK ADD  CONSTRAINT [fk_facturas_formasenvio] FOREIGN KEY([id_forma_envio])
REFERENCES [dbo].[formas_envios] ([id_forma_envio])
GO
ALTER TABLE [dbo].[facturas] CHECK CONSTRAINT [fk_facturas_formasenvio]
GO
ALTER TABLE [dbo].[facturas_formaspago]  WITH CHECK ADD  CONSTRAINT [fk_facturas_factura] FOREIGN KEY([nro_factura])
REFERENCES [dbo].[facturas] ([nro_factura])
GO
ALTER TABLE [dbo].[facturas_formaspago] CHECK CONSTRAINT [fk_facturas_factura]
GO
ALTER TABLE [dbo].[facturas_formaspago]  WITH CHECK ADD  CONSTRAINT [fk_facturas_pagos] FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[formas_pagos] ([id_forma_pago])
GO
ALTER TABLE [dbo].[facturas_formaspago] CHECK CONSTRAINT [fk_facturas_pagos]
GO
ALTER TABLE [dbo].[formapagos_clientes]  WITH CHECK ADD  CONSTRAINT [fk_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[formapagos_clientes] CHECK CONSTRAINT [fk_clientes]
GO
ALTER TABLE [dbo].[formapagos_clientes]  WITH CHECK ADD  CONSTRAINT [fk_financieras] FOREIGN KEY([id_financiera])
REFERENCES [dbo].[financieras] ([id_financiera])
GO
ALTER TABLE [dbo].[formapagos_clientes] CHECK CONSTRAINT [fk_financieras]
GO
ALTER TABLE [dbo].[formapagos_clientes]  WITH CHECK ADD  CONSTRAINT [fk_formaspago] FOREIGN KEY([id_forma_pago])
REFERENCES [dbo].[formas_pagos] ([id_forma_pago])
GO
ALTER TABLE [dbo].[formapagos_clientes] CHECK CONSTRAINT [fk_formaspago]
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [fk_libros_editoriales] FOREIGN KEY([id_editorial])
REFERENCES [dbo].[editoriales] ([id_editorial])
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [fk_libros_editoriales]
GO
ALTER TABLE [dbo].[libros]  WITH CHECK ADD  CONSTRAINT [fk_libros_idiomas] FOREIGN KEY([id_idioma])
REFERENCES [dbo].[idiomas] ([id_idioma])
GO
ALTER TABLE [dbo].[libros] CHECK CONSTRAINT [fk_libros_idiomas]
GO
ALTER TABLE [dbo].[libros_categorias]  WITH CHECK ADD  CONSTRAINT [fk_categorias_libros] FOREIGN KEY([id_categoria])
REFERENCES [dbo].[categorias] ([id_categoria])
GO
ALTER TABLE [dbo].[libros_categorias] CHECK CONSTRAINT [fk_categorias_libros]
GO
ALTER TABLE [dbo].[libros_categorias]  WITH CHECK ADD  CONSTRAINT [fk_libros_categoria] FOREIGN KEY([id_libro])
REFERENCES [dbo].[libros] ([cod_libro])
GO
ALTER TABLE [dbo].[libros_categorias] CHECK CONSTRAINT [fk_libros_categoria]
GO
ALTER TABLE [dbo].[libros_generos]  WITH CHECK ADD  CONSTRAINT [fk_generoslibros] FOREIGN KEY([id_genero])
REFERENCES [dbo].[generos] ([id_genero])
GO
ALTER TABLE [dbo].[libros_generos] CHECK CONSTRAINT [fk_generoslibros]
GO
ALTER TABLE [dbo].[libros_generos]  WITH CHECK ADD  CONSTRAINT [fk_librosgeneros] FOREIGN KEY([id_libro])
REFERENCES [dbo].[libros] ([cod_libro])
GO
ALTER TABLE [dbo].[libros_generos] CHECK CONSTRAINT [fk_librosgeneros]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [fk_pedidos_clientes] FOREIGN KEY([cod_cliente])
REFERENCES [dbo].[clientes] ([cod_cliente])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [fk_pedidos_clientes]
GO
ALTER TABLE [dbo].[pedidos]  WITH CHECK ADD  CONSTRAINT [fk_pedidos_formas] FOREIGN KEY([id_forma_envio])
REFERENCES [dbo].[formas_envios] ([id_forma_envio])
GO
ALTER TABLE [dbo].[pedidos] CHECK CONSTRAINT [fk_pedidos_formas]
GO
ALTER TABLE [dbo].[tracking_envios]  WITH CHECK ADD  CONSTRAINT [fk_tracking_estado] FOREIGN KEY([id_estado_envio])
REFERENCES [dbo].[estados_envios] ([id_estado_envio])
GO
ALTER TABLE [dbo].[tracking_envios] CHECK CONSTRAINT [fk_tracking_estado]
GO
ALTER TABLE [dbo].[tracking_envios]  WITH CHECK ADD  CONSTRAINT [fk_tracking_pedido] FOREIGN KEY([nro_pedido])
REFERENCES [dbo].[pedidos] ([nro_pedido])
GO
ALTER TABLE [dbo].[tracking_envios] CHECK CONSTRAINT [fk_tracking_pedido]
GO

-- ====================================================================
-- SCRIPT DE INSERTS SQL CORREGIDOS Y REVISADOS (FORMATO Y LÓGICA)
-- Fecha: 2025-11-17
-- NOTA: Se asume que todas las tablas usan un ID autoincremental como clave primaria.
-- Las fechas se han estandarizado al formato 'YYYY-MM-DD'.
-- ====================================================================

-- 1. PROVINCIAS (IDs: 1, 2, 3)
INSERT INTO provincias (provincia) VALUES
('Buenos Aires'),
('Córdoba'),
('Santa Fe');

-- 2. CIUDADES (IDs: 1, 2, 3)
INSERT INTO ciudades (ciudad, id_provincia) VALUES
('CABA', 1),
('Rosario', 3),
('Córdoba Capital', 2);

-- 3. BARRIOS (IDs: 1, 2, 3, 4)
INSERT INTO barrios (barrio, id_ciudad) VALUES
('Palermo', 1),
('Recoleta', 1),
('Centro', 2),
('Nueva Córdoba', 3);

-- 4. SEXOS (IDs: 1, 2)
INSERT INTO sexos (sexo) VALUES
('Masculino'),
('Femenino');

-- 5. TIPOS_DOCUMENTOS (IDs: 1, 2)
INSERT INTO tipos_documentos (tipo) VALUES
('DNI'),
('Pasaporte');

-- 6. NACIONALIDADES (IDs: 1 a 11)
-- NOTA: Se usa el formato INSERT INTO table (col1, col2) VALUES (val1, val2) para incluir IDs si no son autoincrementales,
-- pero se asume que los IDs son autoincrementales y por ello se insertan solo los valores de la columna 'nacionalidad'.
INSERT INTO nacionalidades (nacionalidad) VALUES
('Argentina'),
('Uruguaya'),
('Chilena'),
('Colombiana'),
('Estadounidense'),
('Mexicana'),
('Alemana'),
('Japonesa'),
('Rusa'),
('Brasileña'),
('Italiana');

-- 7. TIPOS_CONTACTOS (IDs: 1, 2, 3)
INSERT INTO tipos_contactos (tipo) VALUES
('Teléfono'),
('WhatsApp'),
('Instagram');

-- 8. EDITORIALES (IDs: 1, 2, 3)
INSERT INTO editoriales (editorial) VALUES
('Editorial Sudamericana'),
('Planeta'),
('Penguin Random House');

-- 9. IDIOMAS (IDs: 1, 2)
INSERT INTO idiomas (idioma) VALUES
('Español'),
('Inglés');

-- 10. CATEGORIAS (IDs: 1 a 6)
INSERT INTO categorias (categoria) VALUES
('Juvenil'),
('De Época'),
('Manga'),
('Informativo'),
('Educativo'),
('Finanzas');

-- 11. GENEROS (IDs: 1 a 4)
INSERT INTO generos (genero) VALUES
('Romance'),
('Aventura'),
('Ciencia Ficción'),
('Programación');

-- 12. FORMAS_PAGOS (IDs: 1 a 4)
INSERT INTO formas_pagos (forma_pago) VALUES
('Tarjeta de Crédito'),
('Tarjeta de Débito'),
('Mercado Pago'),
('Efectivo');

-- 13. FINANCIERAS (IDs: 1 a 3)
INSERT INTO financieras (nombre) VALUES
('Banco Nación'),
('Banco Galicia'),
('Banco Macro');

-- 14. FORMAS_ENVIOS (IDs: 1 a 3)
INSERT INTO formas_envios (forma_envio) VALUES
('Correo Argentino'),
('OCA'),
('Andreani');

-- 15. ESTADOS_ENVIOS (IDs: 1 a 4)
INSERT INTO estados_envios (estado_actual) VALUES
('Recibido'),
('Preparando'),
('Enviado'),
('Entregado');

-- 16. AUTORES (IDs: 1 a 60)
-- NOTA: Se eliminan los IDs explícitos de la lista de valores, asumiendo que son autoincrementales.
 -- Proxy Nacionalidad 4 (Colombiana)

-- 17. USUARIOS (IDs: 1 a 10)
-- NOTA: Se eliminan los IDs explícitos de la lista de valores, asumiendo que son autoincrementales.
INSERT INTO Usuarios (NombreUsuario, ContrasenaHash, Rol) VALUES
('juan.perez', 'HASH123', 'Cliente'),
('maria.gomez', 'HASH123', 'Cliente'),
('luis.fernandez', 'HASH123', 'Cliente'),
('ana.martinez', 'HASH123', 'Cliente'),
('carlos.rodriguez', 'HASH123', 'Cliente'),
('sofia.lopez', 'HASH123', 'Cliente'),
('diego.sanchez', 'HASH123', 'Cliente'),
('lucia.torres', 'HASH123', 'Cliente'),
('martin.ramirez', 'HASH123', 'Cliente'),
('valentina.garcia', 'HASH123', 'Cliente');

-- 18. CLIENTES (IDs: 1 a 10)
-- NOTA: Se eliminan los IDs explícitos de la lista de valores, asumiendo que son autoincrementales.
 -- Centro (Rosario)

-- 19. CONTACTOS
 -- Valentina García

-- 20. LIBROS (IDs: 1 a 60)
-- NOTA: Se eliminan los IDs explícitos de la lista de valores, asumiendo que son autoincrementales.


-- 21. AUTORES_LIBROS (Mapeo lógico de libros a sus autores)
 -- Harry Potter (asumiendo que J.K. Rowling se mapea a un autor existente, ID 4 es Jane Austen como proxy)


-- 22. LIBROS_GENEROS (ID 4 = Programación)
INSERT INTO libros_generos (id_libro, id_genero) VALUES
-- Programación
(1, 4), (2, 4), (3, 4), (4, 4), (5, 4), (6, 4), (7, 4), (8, 4), (9, 4), (10, 4),
(11, 4), (12, 4), (13, 4), (14, 4), (15, 4), (16, 4), (17, 4), (18, 4), (19, 4), (20, 4),
(21, 4), (22, 4), (23, 4), (24, 4), (25, 4),
-- Otros géneros
(26, 1), (27, 2), (29, 3), (31, 2), (34, 1), (37, 1), (52, 2), (54, 2), (57, 2), (60, 2);


-- 23. LIBROS_CATEGORIAS (ID 4 = Informativo, ID 5 = Educativo, ID 3 = Manga, ID 1 = Juvenil, ID 2 = De Época)
INSERT INTO libros_categorias (id_libro, id_categoria) VALUES
-- Programación/Educativo/Informativo
(1, 5), (2, 5), (3, 5), (4, 5), (5, 4), (5, 5), (6, 5), (7, 5), (8, 5), (9, 5), (10, 5),
(11, 5), (12, 5), (13, 4), (13, 5), (14, 5), (15, 4), (15, 5), (16, 4), (17, 5), (18, 4),
(18, 5), (19, 4), (19, 5), (20, 5), (21, 5), (22, 5), (23, 5), (24, 4), (24, 5), (25, 5),
-- Literatura General
(36, 2), (37, 2),
-- Manga
(50, 3), (51, 3), (52, 3), (53, 3), (54, 3), (55, 3), (56, 3),
-- Juvenil
(57, 1), (58, 1), (59, 1), (60, 1);


-- 24. FORMASPAGOS_CLIENTES (Tarjetas de prueba para Clientes 1, 2 y 3)
INSERT INTO formapagos_clientes (num_tarjeta, fecha_vencimiento, cvv, cod_cliente, id_forma_pago, id_financiera) VALUES
(12345678, '2026-01-01', 123, 1, 1, 1), -- Juan Pérez: Tarjeta de Crédito, Banco Nación
(98765432, '2025-12-01', 456, 2, 1, 2), -- María Gómez: Tarjeta de Crédito, Banco Galicia
(11112222, '2027-05-01', 789, 3, 2, 3); -- Luis Fernández: Tarjeta de Débito, Banco Macro



-- 26. DETALLE_PEDIDOS (Corregido, mapeando libros y pedidos existentes)
 -- ¿Dónde Viven los Monstruos?


select * from libros order by titulo

-- Ejecutar este script sobre la base que usa la API (ver appsettings.json).
-- USE BDVENTALIBROS06;

SET NOCOUNT ON;

BEGIN TRAN;

DECLARE @AHORA DATETIME2 = SYSDATETIME();

/* 1. Datos base ----------------------------------------------------------- */

-- Sexos
IF NOT EXISTS (SELECT 1 FROM sexos WHERE sexo = 'Masculino') INSERT INTO sexos (sexo) VALUES ('Masculino');
IF NOT EXISTS (SELECT 1 FROM sexos WHERE sexo = 'Femenino') INSERT INTO sexos (sexo) VALUES ('Femenino');
DECLARE @sexoMas INT = (SELECT TOP 1 id_sexo FROM sexos WHERE sexo = 'Masculino');
DECLARE @sexoFem INT = (SELECT TOP 1 id_sexo FROM sexos WHERE sexo = 'Femenino');

-- Nacionalidades
DECLARE @Nacionalidades TABLE (Nombre NVARCHAR(40));
INSERT INTO @Nacionalidades VALUES ('Argentina'),('Chile'),('Uruguay'),('España'),('México');
INSERT INTO nacionalidades (nacionalidad)
SELECT n.Nombre
FROM @Nacionalidades n
WHERE NOT EXISTS (SELECT 1 FROM nacionalidades na WHERE na.nacionalidad = n.Nombre);
DECLARE @nacAR INT = (SELECT TOP 1 id_nacionalidad FROM nacionalidades WHERE nacionalidad = 'Argentina');
DECLARE @nacCL INT = (SELECT TOP 1 id_nacionalidad FROM nacionalidades WHERE nacionalidad = 'Chile');
DECLARE @nacUY INT = (SELECT TOP 1 id_nacionalidad FROM nacionalidades WHERE nacionalidad = 'Uruguay');
DECLARE @nacES INT = (SELECT TOP 1 id_nacionalidad FROM nacionalidades WHERE nacionalidad = 'España');

-- Provincias/Ciudades/Barrios
IF NOT EXISTS (SELECT 1 FROM provincias WHERE provincia = 'Buenos Aires') INSERT INTO provincias (provincia) VALUES ('Buenos Aires');
IF NOT EXISTS (SELECT 1 FROM provincias WHERE provincia = 'Santa Fe') INSERT INTO provincias (provincia) VALUES ('Santa Fe');
DECLARE @provBA INT = (SELECT TOP 1 id_provincia FROM provincias WHERE provincia = 'Buenos Aires');
DECLARE @provSF INT = (SELECT TOP 1 id_provincia FROM provincias WHERE provincia = 'Santa Fe');

IF NOT EXISTS (SELECT 1 FROM ciudades WHERE ciudad = 'Ciudad Autónoma de Buenos Aires') INSERT INTO ciudades (ciudad, id_provincia) VALUES ('Ciudad Autónoma de Buenos Aires', @provBA);
IF NOT EXISTS (SELECT 1 FROM ciudades WHERE ciudad = 'Rosario') INSERT INTO ciudades (ciudad, id_provincia) VALUES ('Rosario', @provSF);
DECLARE @caba INT = (SELECT TOP 1 id_ciudad FROM ciudades WHERE ciudad = 'Ciudad Autónoma de Buenos Aires');
DECLARE @rosario INT = (SELECT TOP 1 id_ciudad FROM ciudades WHERE ciudad = 'Rosario');

IF NOT EXISTS (SELECT 1 FROM barrios WHERE barrio = 'Palermo') INSERT INTO barrios (barrio, id_ciudad) VALUES ('Palermo', @caba);
IF NOT EXISTS (SELECT 1 FROM barrios WHERE barrio = 'Centro Rosario') INSERT INTO barrios (barrio, id_ciudad) VALUES ('Centro Rosario', @rosario);
DECLARE @barrioPalermo INT = (SELECT TOP 1 id_barrio FROM barrios WHERE barrio = 'Palermo');
DECLARE @barrioRosario INT = (SELECT TOP 1 id_barrio FROM barrios WHERE barrio = 'Centro Rosario');

-- Tipos de documento
IF NOT EXISTS (SELECT 1 FROM tipos_documentos WHERE tipo = 'DNI') INSERT INTO tipos_documentos (tipo) VALUES ('DNI');
DECLARE @tipoDni INT = (SELECT TOP 1 id_tipo_doc FROM tipos_documentos WHERE tipo = 'DNI');

-- Editoriales
DECLARE @Editoriales TABLE (Nombre NVARCHAR(50));
INSERT INTO @Editoriales VALUES ('Bruma Sur'),('AstroNorte'),('Cuaderno Azul');
INSERT INTO editoriales (editorial)
SELECT e.Nombre FROM @Editoriales e WHERE NOT EXISTS (SELECT 1 FROM editoriales ed WHERE ed.editorial = e.Nombre);
DECLARE @editBruma INT = (SELECT TOP 1 id_editorial FROM editoriales WHERE editorial = 'Bruma Sur');
DECLARE @editAstro INT = (SELECT TOP 1 id_editorial FROM editoriales WHERE editorial = 'AstroNorte');
DECLARE @editAzul INT = (SELECT TOP 1 id_editorial FROM editoriales WHERE editorial = 'Cuaderno Azul');

-- Idiomas
IF NOT EXISTS (SELECT 1 FROM idiomas WHERE idioma = 'Español') INSERT INTO idiomas (idioma) VALUES ('Español');
DECLARE @idiomaEs INT = (SELECT TOP 1 id_idioma FROM idiomas WHERE idioma = 'Español');

-- Formas de envío
IF NOT EXISTS (SELECT 1 FROM formas_envios WHERE forma_envio = 'Retiro en tienda') INSERT INTO formas_envios (forma_envio) VALUES ('Retiro en tienda');
IF NOT EXISTS (SELECT 1 FROM formas_envios WHERE forma_envio = 'Moto en CABA') INSERT INTO formas_envios (forma_envio) VALUES ('Moto en CABA');
IF NOT EXISTS (SELECT 1 FROM formas_envios WHERE forma_envio = 'Correo nacional 72h') INSERT INTO formas_envios (forma_envio) VALUES ('Correo nacional 72h');
DECLARE @envioRetiro INT = (SELECT TOP 1 id_forma_envio FROM formas_envios WHERE forma_envio = 'Retiro en tienda');
DECLARE @envioMoto INT = (SELECT TOP 1 id_forma_envio FROM formas_envios WHERE forma_envio = 'Moto en CABA');
DECLARE @envioCorreo INT = (SELECT TOP 1 id_forma_envio FROM formas_envios WHERE forma_envio = 'Correo nacional 72h');

-- Formas de pago
IF NOT EXISTS (SELECT 1 FROM formas_pagos WHERE forma_pago = 'Tarjeta de crédito') INSERT INTO formas_pagos (forma_pago) VALUES ('Tarjeta de crédito');
IF NOT EXISTS (SELECT 1 FROM formas_pagos WHERE forma_pago = 'Transferencia bancaria') INSERT INTO formas_pagos (forma_pago) VALUES ('Transferencia bancaria');
IF NOT EXISTS (SELECT 1 FROM formas_pagos WHERE forma_pago = 'Mercado Pago') INSERT INTO formas_pagos (forma_pago) VALUES ('Mercado Pago');
DECLARE @pagoTarjeta INT = (SELECT TOP 1 id_forma_pago FROM formas_pagos WHERE forma_pago = 'Tarjeta de crédito');
DECLARE @pagoTransfer INT = (SELECT TOP 1 id_forma_pago FROM formas_pagos WHERE forma_pago = 'Transferencia bancaria');
DECLARE @pagoMP INT = (SELECT TOP 1 id_forma_pago FROM formas_pagos WHERE forma_pago = 'Mercado Pago');

/* 2. Clientes ------------------------------------------------------------- */

DECLARE @ClientesSeed TABLE (
    Email NVARCHAR(80),
    Nombre NVARCHAR(50),
    Apellido NVARCHAR(50),
    Documento INT,
    Sexo INT,
    Nacionalidad INT,
    FechaNacimiento DATE,
    Barrio INT,
    Calle NVARCHAR(50),
    Nro INT,
    Piso NVARCHAR(10),
    Dpto NVARCHAR(10),
    CP NVARCHAR(10)
);
INSERT INTO @ClientesSeed VALUES
('valentina.quiroga@example.com','Valentina','Quiroga',35456987,@sexoFem,@nacAR,'1989-05-17',@barrioPalermo,'Charcas',2845,'7','B','1425'),
('matias.romero@example.com','Matías','Romero',30112555,@sexoMas,@nacAR,'1984-11-03',@barrioRosario,'San Martín',955,'PB','1','2000');

DECLARE @Clientes TABLE (Email NVARCHAR(80) PRIMARY KEY, Id INT);

INSERT INTO clientes (nombre, apellido, nro_doc, id_tipo_doc, id_sexo, id_nacionalidad,
                      fecha_registro, fecha_nacimiento, id_barrio, calle, nro, piso, dpto, cp, email, IdUsuario)
OUTPUT INSERTED.email, INSERTED.cod_cliente INTO @Clientes(Email, Id)
SELECT c.Nombre, c.Apellido, c.Documento, @tipoDni, c.Sexo, c.Nacionalidad,
       @AHORA, c.FechaNacimiento, c.Barrio, c.Calle, c.Nro, c.Piso, c.Dpto, c.CP, c.Email, NULL
FROM @ClientesSeed c
WHERE NOT EXISTS (SELECT 1 FROM clientes cli WHERE cli.email = c.Email);

INSERT INTO @Clientes
SELECT c.Email, cli.cod_cliente
FROM @ClientesSeed c
JOIN clientes cli ON cli.email = c.Email
WHERE NOT EXISTS (SELECT 1 FROM @Clientes t WHERE t.Email = c.Email);

DECLARE @clienteVal INT = (SELECT Id FROM @Clientes WHERE Email = 'valentina.quiroga@example.com');
DECLARE @clienteMat INT = (SELECT Id FROM @Clientes WHERE Email = 'matias.romero@example.com');

/* 3. Autores -------------------------------------------------------------- */

DECLARE @AutoresSeed TABLE (
    Codigo NVARCHAR(20),
    Nombre NVARCHAR(50),
    Apellido NVARCHAR(50),
    Bio NVARCHAR(200),
    FechaNac DATE,
    Nacionalidad INT,
    Sexo INT
);

DECLARE @Autores TABLE (Codigo NVARCHAR(20) PRIMARY KEY, Id INT);

INSERT INTO autores (nombre, apellido, biografia, fecha_nacimiento, id_nacionalidad, id_sexo)
OUTPUT INSERTED.nombre + '_' + INSERTED.apellido, INSERTED.id_autor INTO @Autores(Codigo, Id)
SELECT a.Nombre, a.Apellido, a.Bio, a.FechaNac, a.Nacionalidad, a.Sexo
FROM @AutoresSeed a
WHERE NOT EXISTS (SELECT 1 FROM autores au WHERE au.Nombre = a.Nombre AND au.Apellido = a.Apellido);

INSERT INTO @Autores
SELECT s.Codigo, au.id_autor
FROM @AutoresSeed s
JOIN autores au ON au.Nombre = s.Nombre AND au.Apellido = s.Apellido
WHERE NOT EXISTS (SELECT 1 FROM @Autores t WHERE t.Codigo = s.Codigo);

/* 4. Libros --------------------------------------------------------------- */

DECLARE @LibrosSeed TABLE (
    Codigo NVARCHAR(20),
    Isbn NVARCHAR(20),
    Titulo NVARCHAR(120),
    Precio DECIMAL(10,2),
    Descripcion NVARCHAR(200),
    Stock INT,
    IdEditorial INT,
    Lanzamiento DATE,
    IdIdioma INT
);

DECLARE @Libros TABLE (Codigo NVARCHAR(120) PRIMARY KEY, Id INT, Precio DECIMAL(10,2));

INSERT INTO libros (isbn, titulo, precio, descripcion, stock, id_editorial, fecha_lanzamiento, id_idioma)
OUTPUT INSERTED.titulo, INSERTED.cod_libro, INSERTED.precio INTO @Libros(Codigo, Id, Precio)
SELECT l.Isbn, l.Titulo, l.Precio, l.Descripcion, l.Stock, l.IdEditorial, l.Lanzamiento, l.IdIdioma
FROM @LibrosSeed l
WHERE NOT EXISTS (SELECT 1 FROM libros lib WHERE lib.isbn = l.Isbn);

INSERT INTO @Libros
SELECT s.Codigo, lib.cod_libro, lib.precio
FROM @LibrosSeed s
JOIN libros lib ON lib.isbn = s.Isbn
WHERE NOT EXISTS (SELECT 1 FROM @Libros t WHERE t.Codigo = s.Codigo);

/* 5. Autores por libro ---------------------------------------------------- */

DECLARE @AutorLibroBase INT = COALESCE((SELECT MAX(id_autor_libro) FROM autores_libros), 0);


INSERT INTO autores_libros (id_libro, id_autor)
SELECT l.Id AS LibroId, a.Id AS AutorId
FROM (VALUES
    ('BOOK_CIUDAD','AUTH_CAMILA'),
    ('BOOK_CUADERNOS','AUTH_IGNACIO'),
    ('BOOK_ORILLAS','AUTH_PAULA'),
    ('BOOK_ANDES','AUTH_SERGIO'),
    ('BOOK_COMETAS','AUTH_JULI'),
    ('BOOK_CIRCUITOS','AUTH_MARTIN'),
    ('BOOK_PUERTOS','AUTH_LUCIA'),
    ('BOOK_CRONICAS','AUTH_ESTEBAN'),
    ('BOOK_SOMBRA','AUTH_SOL'),
    ('BOOK_FARO','AUTH_DIEGO')
) m(LibroCodigo, AutorCodigo)
JOIN @Libros l ON l.Codigo = m.LibroCodigo
JOIN @Autores a ON a.Codigo = m.AutorCodigo
WHERE NOT EXISTS (
    SELECT 1 FROM autores_libros al WHERE al.id_libro = l.Id AND al.id_autor = a.Id);

/* 6. Pedidos y facturas (fechas relativas a hoy) -------------------------- */

DECLARE @PedidosSeed TABLE (
    Codigo NVARCHAR(20),
    Fecha DATETIME,
    FechaEntrega DATE,
    Notas NVARCHAR(100),
    ClienteId INT,
    FormaEnvioId INT
);


DECLARE @Pedidos TABLE (Codigo NVARCHAR(20) PRIMARY KEY, Id INT);

INSERT INTO pedidos (fecha, fecha_entrega, instrucciones_adicionales, cod_cliente, id_forma_envio)
SELECT s.Fecha, s.FechaEntrega, s.Notas, s.ClienteId, s.FormaEnvioId
FROM @PedidosSeed s
WHERE NOT EXISTS (
    SELECT 1 FROM pedidos p
    WHERE p.fecha = s.Fecha AND p.cod_cliente = s.ClienteId AND p.id_forma_envio = s.FormaEnvioId
          AND ISNULL(p.instrucciones_adicionales,'') = s.Notas);

INSERT INTO @Pedidos
SELECT s.Codigo, p.nro_pedido
FROM @PedidosSeed s
JOIN pedidos p ON p.fecha = s.Fecha AND p.cod_cliente = s.ClienteId AND p.id_forma_envio = s.FormaEnvioId
              AND ISNULL(p.instrucciones_adicionales,'') = s.Notas
WHERE NOT EXISTS (SELECT 1 FROM @Pedidos t WHERE t.Codigo = s.Codigo);

/* Detalle de pedidos */
INSERT INTO detalle_pedidos (cantidad, precio, cod_libro, nro_pedido)
SELECT d.Cantidad, l.Precio, l.Id, p.Id
FROM (VALUES
    ('PED-0705','BOOK_CIUDAD',35),
    ('PED-0705','BOOK_CUADERNOS',22),
    ('PED-0705','BOOK_CIRCUITOS',12),
    ('PED-0714','BOOK_ORILLAS',18),
    ('PED-0714','BOOK_ANDES',16),
    ('PED-0714','BOOK_COMETAS',12),
    ('PED-0722','BOOK_PUERTOS',14),
    ('PED-0722','BOOK_CRONICAS',10),
    ('PED-0722','BOOK_SOMBRA',8),
    ('PED-0801','BOOK_FARO',9),
    ('PED-0801','BOOK_CIUDAD',12),
    ('PED-0801','BOOK_ANDES',11),
    ('PED-0809','BOOK_CUADERNOS',15),
    ('PED-0809','BOOK_COMETAS',10),
    ('PED-0809','BOOK_CRONICAS',7),
    ('PED-0818','BOOK_CIRCUITOS',9),
    ('PED-0818','BOOK_PUERTOS',11),
    ('PED-0818','BOOK_SOMBRA',13),
    ('PED-0818','BOOK_ORILLAS',6)
) d(PedidoCodigo, LibroCodigo, Cantidad)
JOIN @Pedidos p ON p.Codigo = d.PedidoCodigo
JOIN @Libros l ON l.Codigo = d.LibroCodigo
WHERE NOT EXISTS (
    SELECT 1 FROM detalle_pedidos dp WHERE dp.nro_pedido = p.Id AND dp.cod_libro = l.Id);

/* Facturas */
DECLARE @FacturasSeed TABLE (
    Codigo NVARCHAR(20),
    Fecha DATETIME,
    FechaEntrega DATETIME,
    FechaPago DATETIME,
    ClienteId INT,
    FormaEnvioId INT,
    CostoEnvio DECIMAL(10,2)
);

DECLARE @Facturas TABLE (Codigo NVARCHAR(20) PRIMARY KEY, Id INT);

INSERT INTO facturas (fecha, fecha_entrega, fecha_pago, cod_cliente, id_forma_envio, costo_envio)
SELECT f.Fecha, f.FechaEntrega, f.FechaPago, f.ClienteId, f.FormaEnvioId, f.CostoEnvio
FROM @FacturasSeed f
WHERE NOT EXISTS (
    SELECT 1 FROM facturas fa
    WHERE fa.fecha = f.Fecha AND fa.cod_cliente = f.ClienteId AND fa.id_forma_envio = f.FormaEnvioId);

INSERT INTO @Facturas
SELECT f.Codigo, fa.nro_factura
FROM @FacturasSeed f
JOIN facturas fa ON fa.fecha = f.Fecha AND fa.cod_cliente = f.ClienteId AND fa.id_forma_envio = f.FormaEnvioId
WHERE NOT EXISTS (SELECT 1 FROM @Facturas t WHERE t.Codigo = f.Codigo);

/* Detalle facturas */
INSERT INTO detalle_facturas (cantidad, precio, recargo, nro_factura, cod_libro)
SELECT d.Cantidad, l.Precio, NULL, f.Id, l.Id
FROM (VALUES
    ('FAC-0705','BOOK_CIUDAD',35),
    ('FAC-0705','BOOK_CUADERNOS',22),
    ('FAC-0705','BOOK_CIRCUITOS',12),
    ('FAC-0714','BOOK_ORILLAS',18),
    ('FAC-0714','BOOK_ANDES',16),
    ('FAC-0714','BOOK_COMETAS',12),
    ('FAC-0722','BOOK_PUERTOS',14),
    ('FAC-0722','BOOK_CRONICAS',10),
    ('FAC-0722','BOOK_SOMBRA',8),
    ('FAC-0801','BOOK_FARO',9),
    ('FAC-0801','BOOK_CIUDAD',12),
    ('FAC-0801','BOOK_ANDES',11),
    ('FAC-0809','BOOK_CUADERNOS',15),
    ('FAC-0809','BOOK_COMETAS',10),
    ('FAC-0809','BOOK_CRONICAS',7),
    ('FAC-0818','BOOK_CIRCUITOS',9),
    ('FAC-0818','BOOK_PUERTOS',11),
    ('FAC-0818','BOOK_SOMBRA',13),
    ('FAC-0818','BOOK_ORILLAS',6)
) d(FacturaCodigo, LibroCodigo, Cantidad)
JOIN @Facturas f ON f.Codigo = d.FacturaCodigo
JOIN @Libros l ON l.Codigo = d.LibroCodigo
WHERE NOT EXISTS (
    SELECT 1 FROM detalle_facturas df WHERE df.nro_factura = f.Id AND df.cod_libro = l.Id);

/* Formas de pago */
INSERT INTO facturas_formaspago (monto_parcial, id_forma_pago, nro_factura)
SELECT p.Monto, p.FormaPagoId, f.Id
FROM (VALUES
    ('FAC-0705', 402900, @pagoTarjeta),
    ('FAC-0705', 200000, @pagoTransfer),
    ('FAC-0714', 384400, @pagoMP),
    ('FAC-0722', 150000, @pagoTarjeta),
    ('FAC-0722', 115800, @pagoTransfer),
    ('FAC-0801', 279800, @pagoTarjeta),
    ('FAC-0809', 177300, @pagoMP),
    ('FAC-0809', 100000, @pagoTransfer),
    ('FAC-0818', 195600, @pagoTarjeta),
    ('FAC-0818', 100000, @pagoMP)
) p(FacturaCodigo, Monto, FormaPagoId)
JOIN @Facturas f ON f.Codigo = p.FacturaCodigo
WHERE NOT EXISTS (
    SELECT 1 FROM facturas_formaspago fp
    WHERE fp.nro_factura = f.Id AND fp.id_forma_pago = p.FormaPagoId AND fp.monto_parcial = p.Monto);

COMMIT;

PRINT 'Seed ejecutado correctamente.';